@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/woff2/Metropolis-Black.woff2) format('woff2'),
       url(/fonts/woff/Metropolis-Black.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/woff2/Metropolis-Bold.woff2) format('woff2'),
       url(/fonts/woff/Metropolis-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/woff2/Metropolis-SemiBold.woff2) format('woff2'),
       url(/fonts/woff/Metropolis-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/woff2/Metropolis-Regular.woff2) format('woff2'),
       url(/fonts/woff/Metropolis-Regular.woff) format('woff');
}